<!DOCTYPE html>
<html>
  <body>
    <p>This is the Martini-Sessionauth example</p>

    <a href="/logout">Logout</a><br/>

    <a href="/login">Login</a><br/>

    <a href="/register">Register</a><br/>

    <a href="/todo">Todo</a><br/>
  </body>
</html>
