<!DOCTYPE html>
<html>
  <body>
    <p>This is a private link!</p>
    <a href="/logout">Logout</a><br/>
    <ul>
    {{range .}} <li>{{.Body}}</li> {{end}}
    </ul>
    <form method="POST">
      <input type="text" placeholder="todo" name="body" /><br />
      <button>Add</button>
    </form>
  </body>
</html>
