<!DOCTYPE html>
<html>
  <body>
    <p>TODO:</p>
    <ul>
    {{range .}} 
      <li> 
        {{.Body}} - {{.Completed}}
      </li> 
    {{end}}
    </ul>
    <form method="POST">
      <input type="text" placeholder="todo" name="body" /><br />
      <button>Add</button>
    </form>
    <br/>
    <a href="/logout">Logout</a><br/>
  </body>
</html>
